name: 'kt-auditor'
services:
  'generate-keys':
    profiles:
      - 'generate-keys'
    build:
      context: '.'
      dockerfile: './Dockerfile'
      target: 'generate-keys'
    # command: [ "-days", "365" ]
  'auditor':
    profiles:
      - 'auditor'
    build:
      context: '.'
      dockerfile: './Dockerfile'
      target: 'run-auditor'
    environment:
      - MICRONAUT_CONFIG_FILES=/run/secrets/config.yml
    volumes:
      - type: 'volume'
        source: 'state'
        target: '/db/'
    secrets:
      - source: 'auditor'
        target: '/run/secrets/'
    networks:
      'kt-auditor':
volumes:
  'state':
secrets:
  'auditor':
    file: './config/'
networks:
  'kt-auditor':
    name: 'kt-server'
    # Network is created by kt-server
    external: true
